@import '../variables';

.flugleidir-footer {
  background-color: $flugleidir-white;
  margin: 40px auto 20px;
  padding: 20px;

  .flugleidir-content {
    text-align: center;
    width: 900px;
  }

  .flugleidir-popular-tags {
    margin-top: 15px;

    .flugleidir-pill {
      margin: 0 10px 15px 0;
    }
  }
}
