@import '../variables';

.flugleidir-main {
  .flugleidir-main-header {
    padding: 60px 0 20px;

    .flugleidir-title {
      margin: 6px 18px;
    }

    .flugleidir-pill {
      background-color: $flugleidir-lightestgrey;
      border-color: $flugleidir-blue;
      color: $flugleidir-blue;
      float: right;
      margin: 0 22px;
    }
  }

  .flugleidir-show-more-button {
    background-color: transparent;
    border-color: $flugleidir-lightgrey;
    color: $flugleidir-darkgrey;
    cursor: pointer;
    font-size: 16px;
    padding: 20px;
    width: 100%;
  }
}
