@import '../variables';

.flugleidir-subheader {
  background-color: $flugleidir-blue;
  height: 350px;
  min-width: fit-content;
  position: relative;
  width: auto;
}

.flugleidir-search-box-wrapper {
  height: 70px;
  padding-top: 116px;
  width: 900px;

  .flugleidir-search-box {
    background: url('../images/ic_search_black_24dp_1x.png') no-repeat scroll;
    background-color: $flugleidir-white;
    background-position: right 38px top 24px;
    background-size: 22px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 20px 50px 0 $flugleidir-shadowblack;
    color: $flugleidir-darkgrey;
    font-family: $flugleidir-fonts;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    padding: 22px 40px 21px;
    width: 100%;

    &::placeholder {
      color: $flugleidir-grey;
      font-weight: normal;
    }
  }
}

.flugleidir-subheader-tabs {
  bottom: 0;
  display: flex;
  position: absolute;

  :first-child {
    margin-left: 0;
  }

  :last-child {
    margin-right: 0;
  }
}
