@import '../variables';

.flugleidir-tab {
  color: $flugleidir-white;
  font-size: 18px;
  height: 32px;
  margin: 0 12px;
  padding: 16px 0 2px;
  text-align: center;
  text-decoration: none;
  width: 180px;

  &.active {
    background-color: $flugleidir-lightestgrey;
    border-radius: 3px 3px 0 0;
    color: $flugleidir-blue;
  }
}
