$flugleidir-blue:         #407bac;
$flugleidir-white:        #ffffff;
$flugleidir-grey:         #9e9e9e;
$flugleidir-darkgrey:     #5e5e5e;
$flugleidir-lightgrey:    #d8d8d8;
$flugleidir-lightergrey:  #eaeaea;
$flugleidir-lightestgrey: #f2f2f2;
$flugleidir-shadowblack:  rgba(0, 0, 0, .1);
$flugleidir-backblack:    rgba(0, 0, 0, .65);

$flugleidir-fonts: 'Neue Haas Unica Pro', helvetica, sans-serif;
