@import './variables';

.flugleidir {
  background-color: $flugleidir-lightestgrey;
  font-family: $flugleidir-fonts;
  min-width: fit-content;
  text-align: center;
  width: 100%;
}

.flugleidir-title {
  color: $flugleidir-darkgrey;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.flugleidir-intro {
  font-size: large;
}

.flugleidir-content {
  margin: 0 auto;
  text-align: left;
  width: 980px;
}

.flugleidir-large-heading {
  color: $flugleidir-darkgrey;
  font-size: 40px;
  margin: 6px 0 12px;
}
